.nvs {
	font-family: sans-serif;
	margin: auto;
	--nvs-blob-width: 16
}

.nvs, .nvs th, .nvs td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: .5em;
}

.nvs td {
	vertical-align: baseline;
}
.nvs-namespace, .nvs-key {
	position: sticky;
	top: .5em;
}

.nvs-blob {
	width: calc((3ch * var(--nvs-blob-width)) - 1ch);
	font-family: monospace;
}
