.nvs-table {
	font-family: sans-serif;
	margin: 1em auto;
	--nvs-blob-width: 16;
}

.nvs-table, .nvs-table th, .nvs-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: .5em;
}

.nvs-table td {
	vertical-align: baseline;
}
.nvs-table .nvs-namespace, .nvs-table .nvs-key {
	position: sticky;
	top: .5em;
}

.nvs-table .nvs-blob {
	width: calc((3ch * var(--nvs-blob-width)) - 1ch);
	font-family: monospace;
}
